<?xml version="1.0"?>
<!-- Description: Gazebo control plugin for the robot -->
<!-- Inspired from: https://www.youtube.com/watch?v=IjFcr5r0nMs&list=PLunhqkrRNRhYAffV8JDiFOatQXuU-NnxT&index=3-->
 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Variables -->
    <xacro:property name="d_wheel" value="$0.0163" /> <!-- [m] from urdf -->
    <xacro:property name="wheelSeparation" value="$0.068185" /> <!-- [m] from SW -->


    <!-- Gazebo ros2_control plugins-->
    <gazebo>
        <plugin name="gazebo_2w_diff" filename="libgazebo_ros_diff_drive.so">
            
            <!-- Properties-->
            <wheelSeparation>wheelSeparation</wheelSeparation>
            <wheelDiameter>d_wheel</wheelDiameter>
            <left_joint>left_rear_lin_to_left_rear_rev</left_joint>
            <right_joint>right_rear_lin_to_right_rear_rev</right_joint>

            <!-- Limits -->
            <max_wheel_torque>100.0</max_wheel_torque> <!-- !!!! CHANGE !!!! -->
            <max_acceleration>5</max_acceleration> <!-- !!!! CHANGE !!!! -->

            <!-- Odometry -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>




</robot> 