<?xml version="1.0"?>
<!-- Description: Gazebo control plugin for the robot -->
<!-- Inspired from: https://www.youtube.com/watch?v=IjFcr5r0nMs&list=PLunhqkrRNRhYAffV8JDiFOatQXuU-NnxT&index=3-->
 
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Joint State Publisher -->
    <gazebo>
        <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
            <ros>
                <remapping>~/out:=joint_states</remapping>
            </ros>

            <update_rate>100</update_rate>
            <joint_name>left_rear_lin_to_left_rear_rev</joint_name>
            <joint_name>right_rear_lin_to_right_rear_re</joint_name>

            <!-- Add the other joints -->
        </plugin>


    <!-- Gazebo ros2_control plugins-->
    <gazebo>
        <plugin name="gazebo_2w_diff" filename="libgazebo_ros_diff_drive.so">
            
            <!-- Properties-->
            <wheelSeparation>0.068185"</wheelSeparation>  <!-- [m] from SW -->
            <wheelDiameter>0.0163</wheelDiameter> <!-- [m] from urdf -->
            <left_joint>left_rear_lin_to_left_rear_rev</left_joint>
            <right_joint>right_rear_lin_to_right_rear_re</right_joint>

            <!-- Limits -->
            <max_wheel_torque>10.0</max_wheel_torque> <!-- !!!! CHANGE !!!! -->
            <max_acceleration>0.5</max_acceleration> <!-- !!!! CHANGE !!!! -->

            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>




</robot> 