<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- _____________IMU LINK____________-->
  <link name="imu_link">

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:$(find kridtbot)/meshes/imu_link.STL"/>
      </geometry>
      <material name = "black"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:$(find kridtbot)/meshes/imu_link.STL"/>
      </geometry>
      <material name="mesh_color"/>
    </collision>

    <inertial>
      <mass value="1.44"/>
      <inertia ixx="2024193.31e-9" ixy="258.53e-9" ixz="-42.56e-9" iyy="1553917.67e-9" iyz=" 559.93e-9" izz="1298088.14e-9"/>
    </inertial>
  </link>

  <gazebo reference="imu_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- _____________DIFF TO IMU JOINT____________-->
  <joint name="diff_to_imu" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="diff_link"/>
    <child link="imu_link"/>
  </joint>

</robot>