<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- BASE LINK-->

  <link name="base_link">

  </link>

  <joint name="base_to_chassis" type="fixed">
    <origin xyz="0 0 0" rpy="-3.1415 0 0"/>
    <parent link="base_link"/>
    <child link="chassis_link"/>
  </joint>

  <!-- CHASSIS LINK-->
  <link name="chassis_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:$(find kridtbot)/meshes/base_link.STL"/>
      </geometry>
    </visual>

  </link> 

  <joint name="chassis_to_diff" type="fixed">
    <origin xyz="-0.00062572 0.016893 -0.01406" rpy="1.5708 0 -1.5708"/>
    <parent link="chassis_link"/>
    <child link="diff_link"/>
  </joint>


  <!-- DIFF LINK-->
  <link name="diff_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:$(find kridtbot)/meshes/diff_link.STL"/>
      </geometry>
    </visual>
  
  </link>

</robot>