<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link
    name="base_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="$(find kridtbot)/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.98824 0.73725 0.51765 1" />
      </material>
    </visual>
   </link>
  
</robot> 